<div class="container">
  <ng-container *ngIf="questions && questions.length">
    <div *ngFor="let question of questions">
      <div class="row" *ngIf="isAuthenticated()">
        <div class="col-sm-1">
          <div class="btn-group-vertical vcenter">
            <button type="button" class="btn btn-success" (click)="upVote(question.id)">
              <i class="fas fa-arrow-up fa-lg"></i>
            </button>
            <div class="btn btn-default">
              {{ question.vote }}
            </div>
            <button type="button" class="btn btn-info" (click)="downVote(question.id)">
              <i class="fas fa-arrow-down fa-lg"></i>
            </button>
          </div>
        </div>
        <div class="col-sm-11">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a [routerLink]="['/question', question.id]">
                  {{ question.title }}
                </a>
              </h3>
            </div>
            <div class="panel-body">
              {{ question.text ? question.text.substring(0, 50) : '' }} ...
            </div>
            <div class="panel-footer" *ngIf="question && question.tags">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <span class="label label-default readonly-tag" *ngFor="let tag of question.tags">
                    {{ tag.text }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
