<ng-container *ngIf="question && question.tags">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        {{ question.title }}
      </h5>
    </div>
    <div class="panel-body">
      <textarea class="form-control variable-textarea hidden" [(ngModel)]="question.text" rows="5"></textarea>
      <markdown class="variable-binding" [data]="question.text"></markdown>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6 text-left">
          <span class="label label-primary readonly-tag" *ngFor="let tag of question.tags">
            {{ tag.text }}
          </span>
        </div>
        <div class="col-sm-6 text-right">
          <div class="btn-group">
            <label class="btn btn-default" btnCheckbox role="button" (click)="gotoEditQuestion(question.id)">Edit</label>
            <label class="btn btn-danger" btnCheckbox role="button" (click)="deleteQuestion(question.id)">Delete</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
